<div class="jumbotron text-center">
  <h1>Gamers City</h1>
  <p class="lead">Welcome to The Gamers City </p>
  <div> 
    <a class="btn btn-primary" [routerLink]= "['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Add Friends</h3>
    <p>Meet new people!</p>
  </div>

  <div class="col-md-4">
    <h3>Statistics</h3>
    <p>Store your data about the games you love</p>
  </div>

  <div class="col-md-4">
    <h3>Create Events</h3>
    <p>Invite all your friends and play games togehter!</p>
  </div>
</div>