<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">BookStore online</a>
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="nav navbar-nav  navbar-left">

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/']">Home</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/dashboard']"> Dashboard </a>
        </li>

        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/profile']"> Profile </a>
        </li>

        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/login']"> Login </a>
        </li>

        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/register']"> Register </a>
        </li>

        <li *ngIf="authService.loggedIn() && admin == true" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/addBook']"> Add book </a>
        </li>

        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/browseBooks']"> Browse books </a>
        </li>

        <li *ngIf="authService.loggedIn() && admin == true" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/browseUsers']"> View users </a>
        </li>

        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/shoppingCart']"> Shopping cart </a>
          </li>
        



        <li *ngIf="authService.loggedIn()">
          <a (click)="onLogoutClick()" href="#">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>