<div *ngIf="admin == true">
    <h2>Update items</h2>
    <br>
    <div class="bar">
        <form id="searchByTitle">
            <label> Search for Title: </label>
            <input type="text" [(ngModel)]="titleSearch" name="titleSearch" />
        </form>
    </div>
    <div class="bar">
        <form id="searchByAuthor">
            <label> Search for Author: </label>
            <input type="text" [(ngModel)]="authorSearch" name="authorSearch" />
        </form>
    </div>
    <br>
    <div class="bar">
        <label for="setting">Order ascending by:</label>
        <select [(ngModel)]="attributeSelected" name="attributeSelected" class="select-privacy" id="attributeSelected" required>
            <option *ngFor="let attribute of attributesAscending" [value]="attribute.name">{{attribute.name}}</option>
        </select>
        <label for="setting">Order descending by:</label>
        <select [(ngModel)]="attributeSelected" name="attributeSelected" class="select-privacy" id="attributeSelected" required>
            <option *ngFor="let attribute of attributesDescending" [value]="attribute.name">{{attribute.name}}</option>
        </select>
    </div>
    <table class="table table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:0%" align="center">Title</td>
            <td style="width:75%" align="center">Author</td>
            <td style="width:18%" align="center">Price</td>
            <td style="width:0%" align="center">Category</td>
            <td style="width:0%" align="center">Image</td>
            <td style="width:0%" align="center">Stock</td>
            <td style="width:0%" align="center">Edit</td>

        </tr>
        <tr *ngFor="let book of books | orderBy: attributeSelected | filter: titleSearch | filterByAuthor: authorSearch; let i = index">
            <td>
                <input type="text" [(ngModel)]="book.title" name="title" class="input-title">
            </td>
            <td>
                <input type="text" [(ngModel)]="book.author" name="author" class="input-author">
            </td>
            <td>
                <input type="text" [(ngModel)]="book.price" name="price" class="input-price">
            </td>
            <td>
                <input type="text" [(ngModel)]="book.category" name="category" class="input-category">
            </td>
            <td>
                <input type="text" [(ngModel)]="book.image" name="image" class="input-image">
            </td>
            <td>
                <input type="text" [(ngModel)]="book.stock" name="stock" class="input-stock">
            </td>
            <td style="white-space: nowrap">
                <form (submit)="edit(book)" class="form-buttons form-inline">
                    <button type="submit" class="btn btn-default glyphicon glyphicon-floppy-disk">
                        Save
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>


<div *ngIf="admin == false">
    <h2>Browse books</h2>
    <br>
    <div class="bar">
        <form id="searchByTitle">
            <label> Search for Title: </label>
            <input type="text" [(ngModel)]="titleSearch" name="titleSearch" />
        </form>
    </div>
    <div class="bar">
        <form id="searchByAuthor">
            <label> Search for Author: </label>
            <input type="text" [(ngModel)]="authorSearch" name="authorSearch" />
        </form>
    </div>
    <br>
    <div class="bar">
        <label for="setting">Order ascending by:</label>
        <select [(ngModel)]="attributeSelected" name="attributeSelected" class="select-privacy" id="attributeSelected" required>
            <option *ngFor="let attribute of attributesAscending" [value]="attribute.name">{{attribute.name}}</option>
        </select>
        <label for="setting">Order descending by:</label>
        <select [(ngModel)]="attributeSelected" name="attributeSelected" class="select-privacy" id="attributeSelected" required>
            <option *ngFor="let attribute of attributesDescending" [value]="attribute.name">{{attribute.name}}</option>
        </select>
    </div>
    <table class="table table-hover table-condensed">
        <tr style="font-weight: bold">
            <td>Title</td>
            <td>Author</td>
            <td>Price</td>
            <td>Category</td>
            <td>Image</td>
            <td>Stock</td>

        </tr>
        <tr *ngFor="let book of books | orderBy: attributeSelected | filter: titleSearch | filterByAuthor: authorSearch; let i = index">
            <td>
                <a [routerLink]="['/BookPage', book._id]">
                    {{book.title}}
                </a>
            </td>
            <td>
                {{book.author}}
            </td>
            <td>
                {{book.price}}
            </td>
            <td>
                {{book.category}}
            </td>
            <td>
                {{book.image}}
            </td>
            <td>
                {{book.stock}}
            </td>
        </tr>
    </table>
</div>