<h2 class ="page-haeder">Add book</h2>
<form (submit)="onCreateBookSubmit()">
  
  <div class="form-group">
    <label>Title</label>
    <input type="text" [(ngModel)]="title" name="title" class="form-control">
  </div>

  <div class="form-group">
    <label>Author</label>
    <input type="text" [(ngModel)]="author" name="author" class="form-control">
  </div>

  <div class="form-group">
    <label>Price (euros)</label>
    <input type="number" [(ngModel)]="price" name="price" class="form-control">
  </div>

  <div class="form-group">
      <label>Stock (number of books currently available)</label>
      <input type="number" [(ngModel)]="stock" name="stock" class="form-control">
    </div>

  <div class="form-group">
    <label>Category</label>
    <select [(ngModel)]="category" name="category" class="select-privacy" id="category" required>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </select>
  </div>

  <div class="form-group">
    <label>Associated Image</label><br>
    <label>
        <input type="radio" [(ngModel)]="image" name="image" class="form-control" id="book1" value=1>
        <img src="../../../assets/book1.png" style="width:100px;height:100px;">
    </label>
    <label>
        <input type="radio" [(ngModel)]="image" name="image" class="form-control" id="book2" value=2>
        <img src="../../../assets/book2.png" style="width:100px;height:100px;">
    </label>
    <label>
        <input type="radio" [(ngModel)]="image" name="image" class="form-control" id="book3" value=3>
        <img src="../../../assets/book3.png" style="width:100px;height:100px;">
    </label>
    <label>
        <input type="radio" [(ngModel)]="image" name="image" class="form-control" id="book4" value=4>
        <img src="../../../assets/book4.png" style="width:100px;height:100px;">
    </label>
    <label>
        <input type="radio" [(ngModel)]="image" name="image" class="form-control" id="book5" value=5>
        <img src="../../../assets/book5.png" style="width:100px;height:100px;">
    </label>
    

  </div>


  <input type="submit" class="btn btn-primary" value="Submit">

</form>